footer{
    background: #1C252C;

    .down_page_row{
        

        h4{
            color: white;
            padding-left: 15px;
            margin-bottom: 20px;
        }
        ul{
            list-style: none;
            padding-left: inherit;
            li{
                color: white;
            }
        }

    }
}