footer{
    // background: #1C252C;
    background: #090909;
    padding-top: 25px;
    padding-bottom: 25px;

    .down_page_row{
        

        h4{
            color: white;
            padding-left: 15px;
            margin-bottom: 20px;
            font-family: 'Roboto', sans-serif;
        }
        ul{
            list-style: none;
            padding-left: inherit;
            
            li{
                color: white;
                font-family: 'Roboto', sans-serif;
                
            }
        }

        .down_page_right{
            text-align: right;
            @include max-screen (768px){
                text-align: center;
                order: 2;
               }
        }
        .down_page_left{
            text-align: left;
            @include max-screen (768px){
                text-align: center;
                order: 1;
                margin-bottom: 45px;
               }
        }

    }
}