header {
  background: #1C252C;
  padding-top: 25px;
  padding-bottom: 25px;
}

header .row_header {
  background-image: url("../img/Pngtree_2.png");
  background-size: cover;
}

header .row_header .img_photo {
  max-width: 600px;
  width: 100%;
  border-radius: 4px 600px 4px 1200px;
  overflow: hidden;
}

header .header_right {
  justify-content: center;
}

header .header_right h1 {
  color: white;
  font-size: 50px;
}

header .header_right p {
  color: white;
  font-size: 20px;
}

header .header_right h4 {
  color: white;
  font-size: 30px;
}

header .header_right a {
  color: white;
  font-size: 30px;
}
