header{
    background: #1C252C;
    padding-top: 25px;
    padding-bottom: 25px;


    .row_header{

    .img_photo{
        max-width: 600px;
        width: 100%;
        border-radius: 4px 600px 4px 1200px;
        overflow: hidden;


    }

    }

    .header_right{
        justify-content: center;
    h1{
        color: white;
    }
    
    p{
        color: white;
    }
    h4{
        color: rgb(170, 163, 163);
    }
    }
}