header{
    background: #1C252C;
    padding-top: 25px;
    padding-bottom: 25px;


    .row_header{
        background-image: url('../img/Pngtree_2.png');
        background-size: cover;
    .img_photo{
        max-width: 600px;
        width: 100%;
        border-radius: 4px 600px 4px 1200px;
        overflow: hidden;


    }

    }

    .header_right{
        justify-content: center;
    h1{
        color: white;
        font-size: 50px;
    }
    
    p{
        color: white;
        font-size: 20px;
    }
    h4{
        color: white;
        font-size: 30px;
    }
    }
}