@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
@import "https://resources/demos/style.css";
header {
  background: #1C252C;
  padding-top: 25px;
  padding-bottom: 25px;
}
header .row_header {
  background-image: url("../img/Pngtree_2.png");
  background-size: cover;
}
header .row_header .img_photo {
  max-width: 600px;
  width: 100%;
  border-radius: 4px 600px 4px 1200px;
  overflow: hidden;
}
header .header_right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  header .header_right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
header .header_right h1 {
  color: white;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
@media screen and (max-width: 821px) {
  header .header_right h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 413px) {
  header .header_right h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 319px) {
  header .header_right h1 {
    font-size: 30px;
  }
}
header .header_right .typing-demo p {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 25px;
  width: 45ch;
  -webkit-animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 821px) {
  header .header_right .typing-demo p {
    font-size: 18px;
  }
}
@media screen and (max-width: 319px) {
  header .header_right .typing-demo p {
    font-size: 16px;
  }
}
header .header_right h4 {
  color: white;
  margin-bottom: 35px;
}
header .header_right h4 :hover {
  color: pink;
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  display: block;
}
@media screen and (max-width: 324px) {
  header .header_right h4 :hover {
    display: inline;
  }
}
header .header_right h4 ::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f879";
  font-size: 24px;
  color: rgb(240, 138, 155);
  margin-right: 15px;
  position: relative;
  top: -5px;
}
@media screen and (max-width: 319px) {
  header .header_right h4 ::before {
    font-size: 18px;
    margin-right: 10px;
  }
}
header .header_right h4 a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 35px;
}
@media screen and (max-width: 821px) {
  header .header_right h4 a {
    font-size: 30px;
  }
}
@media screen and (max-width: 374px) {
  header .header_right h4 a {
    font-size: 25px;
  }
}
@media screen and (max-width: 319px) {
  header .header_right h4 a {
    font-size: 20px;
  }
}
header .header_right ul {
  margin-top: 30px;
  list-style-type: none;
  padding-left: 0px;
  max-width: 280px;
}
header .header_right ul :first-child ::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  content: "\f2c6";
  font-size: 40px;
  color: #26a3f7;
}
header .header_right ul :last-child ::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  content: "\f232";
  font-size: 40px;
  color: #16c447;
}
header .header_right ul li {
  text-align: center;
  margin: auto;
}
header .header_right ul li ::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  content: "\f409";
  font-size: 40px;
  color: #7c5be8;
}
header .header_right ul li a {
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 61px;
  height: 61px;
  display: block;
  border: 1px solid rgba(28, 37, 44, 0.9098039216);
  -webkit-box-shadow: 0px 0px 10px rgb(237, 192, 192);
          box-shadow: 0px 0px 10px rgb(237, 192, 192);
  background: rgba(28, 37, 44, 0.9098039216);
  font-family: "Roboto", sans-serif;
}
header .header_right ul li :hover {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
@media screen and (max-width: 767px) {
  header .header_right ul li {
    margin: 10px;
  }
}

.gallery {
  margin: 0;
  min-height: 100vh;
  background: #1C252C;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1230px) {
  .gallery {
    display: none;
  }
}

.gallery_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10vmin;
  overflow: hidden;
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery_box .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: 75vmin;
  position: relative;
}
.gallery_box .card .card__head {
  color: black;
  background: #ffb8c6;
  padding: 0.5em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
}
.gallery_box .card:hover {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}
.gallery_box .card:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.gallery_box .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  -webkit-transform: rotate(0deg) skew(-5deg);
          transform: rotate(0deg) skew(-5deg);
}
.gallery_box .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.gallery_box .card:not(:nth-child(5)) {
  margin-right: 1em;
}

.services {
  background: #1C252C;
  padding-top: 25px;
  padding-bottom: 25px;
}
.services .row_header {
  background-image: url("../img/Pngtree_2.png");
  background-size: cover;
}
.services .row_header_list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services .row_header_list h3 {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}
.services .row_header_list ul :hover {
  color: #ffb8c6;
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}
.services .row_header_list ul li {
  margin-bottom: 10px;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 821px) {
  .services .row_header_list ul li {
    font-size: 16px;
    margin-left: -15px;
  }
}
.services .img_services {
  max-width: 600px;
  width: 100%;
  border-radius: 1200px 4px 600px 4px;
  overflow: hidden;
}

.you {
  background: #ffb8c6;
  position: relative;
  height: 50%;
  overflow: hidden;
}
@media screen and (max-width: 1142px) {
  .you .container {
    padding-right: inherit;
    padding-left: inherit;
  }
}
.you .container .row_you {
  padding-bottom: 0px;
}
.you .container .you_left {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 15px;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1142px) {
  .you .container .you_left {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.you .container .you_left h3 {
  font-size: 25px;
  margin-bottom: 20px;
  line-height: inherit;
  font-family: "Roboto", sans-serif;
}
.you .container .you_left p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.you .container .img_you {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  padding-right: inherit;
  padding-left: inherit;
}
.you .container .img_you img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1142px) {
  .you .container .img_you {
    position: relative;
    width: 100%;
  }
}

footer {
  background: #090909;
  padding-top: 25px;
  padding-bottom: 25px;
}
footer .down_page_row h4 {
  color: white;
  padding-left: 15px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
footer .down_page_row ul {
  list-style: none;
  padding-left: inherit;
}
footer .down_page_row ul li {
  color: white;
  font-family: "Roboto", sans-serif;
}
footer .down_page_row .down_page_right {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer .down_page_row .down_page_right {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
footer .down_page_row .down_page_left {
  text-align: left;
}
@media screen and (max-width: 768px) {
  footer .down_page_row .down_page_left {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 45px;
  }
}

.contacts {
  background: #ffb8c6;
  position: relative;
  height: 50%;
  overflow: hidden;
}
@media screen and (max-width: 1142px) {
  .contacts .container {
    padding-right: inherit;
    padding-left: inherit;
  }
}
.contacts .container .row_contacts {
  color: rgb(9, 9, 9);
}
.contacts .container .contacts_left {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 15px;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1142px) {
  .contacts .container .contacts_left {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts .container .contacts_left h3 {
  font-size: 25px;
  margin-bottom: 25px;
  line-height: inherit;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 520px) {
  .contacts .container .contacts_left h3 {
    text-align: center;
    font-size: 20px;
  }
}
.contacts .container .contacts_left h4 {
  line-height: inherit;
  margin-bottom: 25px;
}
.contacts .container .contacts_left h4 :hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  display: block;
}
@media screen and (max-width: 388px) {
  .contacts .container .contacts_left h4 :hover {
    display: inline;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid rgba(28, 37, 44, 0.9098039216);
    -webkit-box-shadow: 0px 0px 10px rgba(28, 37, 44, 0.9098039216);
            box-shadow: 0px 0px 10px rgba(28, 37, 44, 0.9098039216);
    padding: 2px 5px;
    border-radius: 4px;
  }
}
.contacts .container .contacts_left h4 ::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f879";
  font-size: 24px;
  color: #1C252C;
  margin-right: 15px;
  position: relative;
  top: -5px;
}
@media screen and (max-width: 374px) {
  .contacts .container .contacts_left h4 ::before {
    font-size: 16px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 319px) {
  .contacts .container .contacts_left h4 ::before {
    top: -3px;
  }
}
.contacts .container .contacts_left h4 a {
  font-family: "Roboto", sans-serif;
  color: #1C252C;
  text-decoration: none;
  font-size: 35px;
}
@media screen and (max-width: 821px) {
  .contacts .container .contacts_left h4 a {
    font-size: 30px;
  }
}
@media screen and (max-width: 374px) {
  .contacts .container .contacts_left h4 a {
    font-size: 25px;
  }
}
@media screen and (max-width: 319px) {
  .contacts .container .contacts_left h4 a {
    font-size: 20px;
  }
}
.contacts .container .contacts_left p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
}
.contacts .container .contacts_left ul {
  margin-top: 15px;
  list-style-type: none;
  padding-left: 0px;
  max-width: 280px;
}
.contacts .container .contacts_left ul li {
  margin-bottom: 20px;
}
.contacts .container .contacts_left ul .telegramm ::after {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  content: "\f2c6";
  font-size: 30px;
  color: #ffb8c6;
  position: relative;
  top: 5px;
  left: 5px;
}
.contacts .container .contacts_left ul .telegramm :hover::after {
  color: #26a3f7;
}
.contacts .container .contacts_left ul .telegramm a {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 12px 20px;
  color: #ffb8c6;
  background: #1C252C;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.contacts .container .contacts_left ul .telegramm :hover {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  border: 1px solid rgba(28, 37, 44, 0.9098039216);
  -webkit-box-shadow: 0px 0px 10px rgba(28, 37, 44, 0.9098039216);
          box-shadow: 0px 0px 10px rgba(28, 37, 44, 0.9098039216);
  background: rgba(28, 37, 44, 0.9098039216);
}
.contacts .container .contacts_left ul .viber ::after {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  content: "\f409";
  font-size: 30px;
  color: #ffb8c6;
  position: relative;
  top: 5px;
  left: 5px;
}
.contacts .container .contacts_left ul .viber :hover::after {
  color: #7c5be8;
}
.contacts .container .contacts_left ul .viber a {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 12px 40px;
  color: #ffb8c6;
  background: #1C252C;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.contacts .container .contacts_left ul .viber :hover {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  border: 1px solid rgba(28, 37, 44, 0.9098039216);
  -webkit-box-shadow: 0px 0px 10px rgba(28, 37, 44, 0.9098039216);
          box-shadow: 0px 0px 10px rgba(28, 37, 44, 0.9098039216);
  background: rgba(28, 37, 44, 0.9098039216);
}
.contacts .container .contacts_left ul .whatsapp ::after {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  content: "\f232";
  font-size: 30px;
  color: #ffb8c6;
  position: relative;
  top: 5px;
  left: 5px;
}
.contacts .container .contacts_left ul .whatsapp :hover::after {
  color: #16c447;
}
.contacts .container .contacts_left ul .whatsapp a {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 12px 22px;
  color: #ffb8c6;
  background: #1C252C;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.contacts .container .contacts_left ul .whatsapp :hover {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: White;
  border: 1px solid rgba(28, 37, 44, 0.9098039216);
  -webkit-box-shadow: 0px 0px 10px rgba(28, 37, 44, 0.9098039216);
          box-shadow: 0px 0px 10px rgba(28, 37, 44, 0.9098039216);
  background: rgba(28, 37, 44, 0.9098039216);
}
.contacts .img_you {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  padding-right: inherit;
  padding-left: inherit;
}
.contacts .img_you img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1142px) {
  .contacts .img_you {
    position: relative;
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  display: block;
  width: 100%;
}