@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
@import "https://resources/demos/style.css";

@import "header";
@import "mixins";
@import "gallery";
@import "services";



@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }

*{
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
img{
    display: block;
    width: 100%;
}